/* PHASE 6: Sidebar */
.content-sidebar {
background-color: green;
}

.profile-picture {
  background-color: green;
}

.profile-info {
  background-color: green;
}

.profile-nav {
  background-color: green;
}